.mainWrapper {
  min-height: 100vh;
}
.wrapper {
  max-width: 1199px;
  margin: 0 auto;
  width: 90%;
  display: flex;
  flex-direction: column;
  gap: 40px;
  padding: 50px 0;
}
.heading {
  font-size: 100px;
  line-height: 95%;
  font-weight: 900;
  text-transform: uppercase;
  text-align: center;
  color: var(--primaryColor);
}
.heading span {
  color: var(--secondaryColor);
}
.eventsContainer {
  background: var(--primaryColor);
  padding: 50px;
  border-radius: 60px;
}
.event {
  display: grid;
  grid-template-columns: auto 1fr;
  --space: 40px;
  gap: var(--space);
  padding: 50px 0;
  border-bottom: 2px solid var(--textColor);
}
.event:first-child {
  padding-top: 0;
}

.event:last-child {
  border: none;
  padding-bottom: 0;
}

.date {
  font-size: 60px;
  font-weight: 400;
  text-align: center;
  color: var(--textColor);
  line-height: 100%;
  border-right: 4px solid var(--textColor);
  text-transform: uppercase;
  padding-right: var(--space);
  min-width: 200px;
  display: flex;
  justify-content: center;
  align-items: center;
}
.textContainer {
  display: flex;
  flex-direction: column;
  gap: 18px;
}
.title {
  font-size: 40px;
  color: var(--textColor);
  line-height: 100%;
  text-transform: uppercase;
}
.info {
  font-size: 24px;
  color: var(--textColor);
  line-height: 130%;
}

.link {
  color: var(--secondaryColor);
  font-size: 30px;
  text-align: center;
  font-weight: 700;
}
